.hero{
    text-align:center;
    padding:60px 20px;
    background:linear-gradient(135deg,#644f96,#4397be);
    color:white;
}

.hero h1{
    font-size:3rem;
    margin-bottom:10px;
}

.hero p{
    font-size:1.2rem;
}

.regions{
    display:flex;
    justify-content:center;
    gap:30px;
    padding:40px;
    flex-wrap:wrap;
}

.region-card{
    width:400px;
    background:white;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.region-card h2{
    color:#302d33;
}
.region-card img{
  width:100%;
  height:200px;
  object-fit:cover;
  border-radius:10px;
  margin-bottom:15px;
}

.region-card{
    cursor:pointer;
    transition:0.2s;
}

.region-card:hover{
    transform:translateY(-5px);
    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

.regions{
    display:flex;
    justify-content:center;
    gap:50px;
    flex-wrap:wrap;
    padding:50px;
}

.region-card{
    width:450px;
    background:white;
    border-radius:20px;
    overflow:hidden;
}